@import "./variables.scss";

.addressBox {
  text-align: center;
}

.contactsBox {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 1.2rem;

  @media (min-width: $md) {
    font-size: 1rem;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.form {
  margin-top: 40px;

  p {
    font-weight: bold;
  }

  label {
    display: block;
    width: 100%;
  }

  input {
    width: 100%;
    height: 30px;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $bg;
  }

  textarea {
    width: 100%;
    height: 60px;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $bg;
  }

  button {
    width: 100%;
    height: 30px;
    background-color: $main;
    color: $white;
    border-radius: 5px;
    border: 0;
  }
}

.formLine {
  position: relative;
  margin-bottom: 20px;
}

.emptyError {
  position: absolute;
  left: 0;
  bottom: -16px;
  color: $error;
}

.sendingSuccess,
.sendingError {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  height: 30px;
  background-color: $success;
  color: $white;
  border-radius: 5px;
  text-align: center;
}

.sendingError {
  background-color: $error;
}
