.sliderBlock {
  padding: 0 0 4vh;
  width: 100%;
  /* overflow: hidden; */
}

.sliderItem {
  width: 100%;
  height: 250px;
}

.sliderImage {
  position: relative;
  display: block;
  width: 100%;
  height: 440px;
  overflow: hidden;
}
